body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-links {
  display: flex;
  align-items: center;
}

.logo-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 10px;
}

.logo img {
  width: 70px;
}

.profile-picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.search-bar input {
  padding: 3px;
  margin-right: 5px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  margin-top: 50px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mailbox-image {
  width: 200px;
  margin-bottom: 20px;
}

.content {
  text-align: center;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.footer-content {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 20px;
}

.lists {
  margin-left: 20px;
  text-align: left; /* Align the lists to the left */
}

.lists ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}

.lists ul li {
  margin-bottom: 5px;
  padding: 4px;
}

.footer p {
  margin: 0;
}

.contact-info {
  list-style: none;
  padding: 0;
  text-align: right;
}

.contact-info li {
  margin-bottom: 5px;
  text-align: right;
}
